# Don't track any data in root
*.gif
*.npy
*.png

# As a amcro rule, don't store local
local/*
!local/environments
!local/tmp
!local/gifs
local/environments/*
local/tmp/*
local/gifs/*

# Only store three basic test environments
!local/environments/grass_env.npy
!local/environments/tree_env.npy
!local/environments/golf_env.npy
!local/tmp/.gitkeep
!local/gifs/.gitkeep

# Only store base config file
config/*
!config/config.ini
!config/config_silly.ini
